# Entornos virtuales
venv/
.env/

# Archivos de configuración de entorno
.env

# Archivos de dependencia
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Archivos de log
*.log

# Archivos de datos
*.csv
*.sqlite3

# Archivos de configuración de Docker
docker-compose.override.yml

# Archivos de configuración de IDEs
.vscode/
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de configuración de Jupyter Notebook
.ipynb_checkpoints/

# Archivos de configuración de Python
*.egg-info/
.eggs/
*.egg
*.manifest
*.spec

# Archivos de configuración de distribución
dist/
build/